* {
  * margin: 0;
  * padding: 0;
  * box-sizing: border-box;
}

#display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  border: 1px solid black;
  height: 80vh;
  width: 60vw;
  display: grid;

}

.divChild {
}
